<h1> <%= titleForm %> </h1>
<form action="/<%= action %>" method="post">
  <input type="text" name="taskDescription" id="task" placeholder="Descreva a nova tarefa" value="<%= value %>">
  <button id="<%= idButton %>" type="submit"><%= valueButton %></button>
</form>