<li class="check-<%= task.check %>">
  <div>
    <a href="/task-check/<%= task._id %>" class="check-<%= task.check %>"> <%= task.taskDescription %> </a>
    <span> Criado em <%= task.date.toLocaleDateString('pt-BR') %> </span>
  </div>
  <div>
    <a class="updateButton" href="/find-by-id/<%= task._id %>/update"> <i class="bi bi-pencil-square"></i> </i></a>
    <a class="deleteButton" href="/find-by-id/<%= task._id %>/delete"> <i <i class="bi bi-x-circle"></i> </a>
  </div>
</li>