<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/style.css'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <title>To Do List</title>
</head>
<body>
  <% if (message != "") { %>
    <%- include('./components/alertMessage.ejs', {message: message, type: type}) %>
  <% } %>

  <header>
    <% if (task == null) { %>
      <%- include('./components/form', {
        titleForm: "Nova Tarefa",
        action: "create",
        value: "",
        idButton: "addButton",
        valueButton: "Adicionar"
      }) %>
    <% } else { %>
      <%- include('./components/form', {
        titleForm: "Editar Tarefa",
        action: `update/${task._id}`,
        value: task.taskDescription,
        idButton: "updateButton",
        valueButton: "Atualizar"
      }) %>
    <% } %>
  </header>

  <section id="tasks">
    <ul>
      <% tasks.forEach((task) => { %>
        <%- include('./components/tasks.ejs', {task: task}) %>
      <% }) %>
    </ul>
  </section>

  <% if (taskDelete != null) { %>
    <%- include('./components/deleteModal.ejs', {task: taskDelete}) %>
  <% } %>

  <script src="/script.js"></script>
</body>
</html>