<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/style.css'>
  <title>To Do List</title>
</head>
<body>
  <!-- create task form -->
  <header>
    <% if (task == null) { %>
      <form action="/create" method="post">
        <input type="text" name="taskDescription" id="task" placeholder="Descreva a nova tarefa">
        <button id="addButton" type="submit">Adicionar</button>
      </form>
    <% } else { %>
      <form action="/update/<%= task._id %>" method="post">
        <input type="text" name="taskDescription" id="task" value="<%= task.taskDescription %>" >
        <button id="addButton" type="submit">Atualizar</button>
      </form>
    <% } %>
  </header>

  <!-- getAll tasks loop -->
  <section id="tasks">
    <ul>
      <% tasks.forEach((task) => { %>
        <li>
          <%= task.taskDescription %> | <%= task.date.toLocaleDateString('pt-BR') %>
          <a href="/find-by-id/<%= task._id %>/update">Editar</a>
          <a href="/find-by-id/<%= task._id %>/delete">Apagar</a>
        </li>
      <% }) %>
    </ul>
  </section>

  <% if (taskDelete != null) { %>
    <section id="modal">
      <div id="card">
        <a href="/">x</a>
        <h2>Confirmação</h2>
        <hr>
        <p> Deseja realmente excluir a task: "<%= taskDelete.task %>?" </p>
        <a href="/">Não</a>
        <a href="/delete/<%= delete._id %>">Sim</a>
      </div>
    </section>
  <% } %>
 
  <script src="/script.js"></script>
</body>
</html>